h1{
    color: green;
}
input{
    border-radius: 60px;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* box model */


.sidebar {
    position : fixed;
    background-color: black;
    width : 300px;
    height: 100vh; 
    top:0;
    right: 0;
    display: none;
}
.open .sidebar{
    display:block;
}
#click1 {
    border-radius: 20px;
    background-color: rgba(5, 8, 11, 0.786);
    color : white; 
    font-family:Arial, Helvetica, sans-serif;
    margin: 20% 0;
}