h1{
    color: green;
}
input{
    border-radius: 60px;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    /* border : 5px solid rgba(0, 0, 0, 0.782); */
    min-height: 400px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center; /*centerises items in each axis */
    align-content: center;
    font-style: oblique;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap; 
}
/* box model */


.sidebar {
    position : fixed;
    background-color: black;
    width : 300px;
    height: 100vh; 
    top:0;
    right: 0;
    display: none;
}
.open .sidebar{
    display:block;
}
#click1 {
    border-radius: 20px;
    background-color: rgba(5, 8, 11, 0.786);
    color : white; 
    font-family:Arial, Helvetica, sans-serif;
    margin: 20% 0;
}
div{
    height: 200px;
    width: 200px;
    background-color: blue;
    font-size: 40pt;
}